<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.oligoform.ankommen"
        versionCode = "1"
        version     = "1.0drb" >

	<name>Ankommen</name>

	<description>Ankommen App mit Erstinformationen für Flüchtlinge</description>

	<author href="http://www.oligoform.com/" email="info@oligoform.com">Oligoform</author>

	<gap:platform name="android" />
	<gap:platform name="ios" />
	<gap:platform name="winphone" />

	<preference name="disallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<!-- PhoneGap plugin declaration -->
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="org.apache.cordova.inappbrowser" spec="0.3.3" />
	<plugin name="com.phonegap.plugin.statusbar" spec="1.1.0" source="pgb" />
	
	<!-- Whitelist policy  -->
	<!-- Allow general communication -->
 	 <access origin="*"/>
 	<!-- Allow navigation only for our domain (incl. subdomains) -->
  	<allow-navigation href="http://app.serviceikoe.de/*" />
 	<!-- Allow the system to handle the following links: -->
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
	<allow-intent href="whatsapp:*"/>
  
	<!-- SplashScreen configuration -->
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="FadeSplashScreenDuration" value="300" />
	
	<!-- Icons and Splashscreens declaration -->

	<icon src="icon.png" gap:platform="android" />
	<icon src="icons/icon-wp-appkit-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="icons/icon-wp-appkit-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="icons/icon-wp-appkit-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="icons/icon-wp-appkit-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="icons/icon-wp-appkit-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="icons/icon-wp-appkit-xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />
	<icon src="www/icon.png" gap:platform="ios" />
	<icon src="www/icons/icon-wp-appkit-ldpi.png" gap:platform="ios" gap:qualifier="ldpi" />
	<icon src="www/icons/icon-wp-appkit-mdpi.png" gap:platform="ios" gap:qualifier="mdpi" />
	<icon src="www/icons/icon-wp-appkit-hdpi.png" gap:platform="ios" gap:qualifier="hdpi" />
	<icon src="www/icons/icon-wp-appkit-xhdpi.png" gap:platform="ios" gap:qualifier="xhdpi" />
	<icon src="www/icons/icon-wp-appkit-xxhdpi.png" gap:platform="ios" gap:qualifier="xxhdpi" />
	<icon src="www/icons/icon-wp-appkit-xxxhdpi.png" gap:platform="ios" gap:qualifier="xxxhdpi" />
	<icon src="icon.png" gap:platform="winphone" />
	<icon src="icons/icon-wp-appkit-ldpi.png" gap:platform="winphone" gap:qualifier="ldpi" />
	<icon src="icons/icon-wp-appkit-mdpi.png" gap:platform="winphone" gap:qualifier="mdpi" />
	<icon src="icons/icon-wp-appkit-hdpi.png" gap:platform="winphone" gap:qualifier="hdpi" />
	<icon src="icons/icon-wp-appkit-xhdpi.png" gap:platform="winphone" gap:qualifier="xhdpi" />
	<icon src="icons/icon-wp-appkit-xxhdpi.png" gap:platform="winphone" gap:qualifier="xxhdpi" />
	<icon src="icons/icon-wp-appkit-xxxhdpi.png" gap:platform="winphone" gap:qualifier="xxxhdpi" />

	
	<gap:splash src="splash.png" gap:platform="android" />
	<splash src="www/splash.png" gap:platform="ios" />
	<gap:splash src="splash.png" gap:platform="winphone" />
	
	
</widget>
